
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.end{
  font-size: 82px;
  /* background-color: antiquewhite; */
  /* border: 2px solid; */
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.di{
  width: 300px;
  margin: auto;
}
h1{
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
li{
  list-style: none;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btnn{
  border: none;
  /* width: 12%; */
  width: 90px;
  border-radius: 10px;
  padding: 5px;
}
/* Ui */
